<div class="links">
  <div class="follow">
    <p
      class="follow-popup"
      [ngClass]="{
        'follow-appear': showFollow,
        'follow-disappear': !showFollow && showFollow != null,
        selectable: showFollow
      }"
      [style.color]="followColor"
    >
      IG <span class="follow-separator">|</span> LN
    </p>
    <p
      class="follow-title selectable"
      [style.color]="followColor"
      (click)="toggleFollowPopup()"
    >
      Follow
    </p>
  </div>
  <div class="hello">
    <p
      class="hello-popup"
      [ngClass]="{ 'hello-alert': showHello }"
      [style.color]="helloColor"
    >
      e-mail copiado
    </p>
    <p
      class="hello-title selectable"
      [style.color]="helloColor"
      (click)="helloPopup()"
    >
      Hello!
    </p>
  </div>
</div>
