:host,
.wave-card,
#wave-card-canvas {
  width: 100%;
  height: 100%;
}

.wave-card {
  position: relative;
}

.wave-card_content-right,
.wave-card_content-left {
  position: absolute;
  top: 50%;
  color: red;
}

.wave-card_content-right {
  left: 25%;
}

.wave-card_content-left {
  right: 25%;
}