// CONTAINERS

.services-body {
  width: 100vw;
  height: 100vh;
  transition: background-color 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.services-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.services-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hidden {
  opacity: 0;
}

// MARKERS

.markers {
  margin-bottom: 6.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  pointer-events: none;
}

.current-marker {
  width: 8rem !important;
  height: 6px;
  cursor: default !important;
}

.marker {
  width: 4rem;
  height: 1.5rem;
  border-radius: 2px;
}

// CONTENT

.services-main-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.services-main-info > * {
  width: 38rem;
}

.services-titles {
  text-align: right;
}

.title {
  font-size: 4.5rem;
  font-weight: 700;
}

.subtitle {
  display: flex;
  justify-content: flex-end;
}

.subtitle h2 {
  font-size: 3rem;
  font-weight: 400;
}

.pre-number {
  opacity: 0;
  font-weight: 700;
}

.number {
  font-size: 3rem;
  font-weight: 700;
  opacity: 0;
}

.services-services {
  list-style: none;
  margin-left: 0;
}

.services-services li {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.services-desc {
  position: absolute;
  left: 0;
  bottom: 16.6rem;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 5.5rem;
  overflow: hidden;
}

.services-desc-h1 {
  font-size: 4rem;
}

.services-desc span {
  font-weight: 700;
}

.services-logo {
  width: 50rem !important;
  max-width: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
