<main class="services-body" [style.background-color]="backgroundColor()">
  <div class="services-container">
    <section
      class="services-content"
      [ngClass]="{ hidden: !isCurrentIndex(0) }"
    ></section>
  </div>
  <div class="services-container">
    <section
      class="services-content"
      [ngClass]="{ hidden: !isCurrentIndex(1) }"
    ></section>
  </div>
  <div class="services-container">
    <section
      class="services-content"
      [ngClass]="{ hidden: !isCurrentIndex(2) }"
    ></section>
  </div>
  <div class="services-container">
    <section
      class="services-content"
      [ngClass]="{ hidden: !isCurrentIndex(3) }"
    ></section>
  </div>
  <div class="markers">
    <span
      *ngFor="let i of markers; let index = index"
      class="marker"
      [ngClass]="{ 'current-marker': isCurrentIndex(index) }"
      [ngStyle]="
        isCurrentIndex(index) ? { 'background-color': linksColor } : {}
      "
      (click)="onClick(index)"
    ></span>
  </div>
</main>
<app-circle></app-circle>
