<main class="service-desc-container">
  <section
    class="service-desc-section yellow"
    (mouseenter)="changeLeftLink(colorDark)"
    (mouseleave)="changeLeftLink(colorLight)"
  >
    <h3>Comunicación</h3>
  </section>
  <section class="service-desc-section orange">
    <h3>Diseño</h3>
  </section>
  <section class="service-desc-section rose">
    <h3>Campañas</h3>
  </section>
  <section
    class="service-desc-section esmerald"
    (mouseenter)="changeRightLink(colorLight)"
    (mouseleave)="changeRightLink(colorDark)"
  >
    <h3>Eventos</h3>
  </section>
</main>
