@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-dark: #000002;
  --primary-light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right,
    var(--primary-dark) 0%,
    var(--primary-dark) 50%,
    var(--primary-light) 50%,
    var(--primary-light) 100%
  );
  overflow: hidden;
}

html {
  font-size: 10px;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}
