@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap");

:root {
  --primary-dark: #030202;
  --primary-light: #FFFAF3;
  --rose: #E5B7D6;
  --esmerald: #00A698;
  --yellow: #FFD44C;
  --blue: #3C6BB3;
  --orange: #EC644E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right,
    var(--primary-dark) 0%,
    var(--primary-dark) 50%,
    var(--primary-light) 50%,
    var(--primary-light) 100%
  );
  overflow: hidden;
}

html {
  font-size: 10px;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

.selectable {
  pointer-events: all;
  cursor: pointer;
}