.menu-btn {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 5;
  color: white;
  font-size: 16px;
}

#menu-wave-card {
  display: none;
}

#left-card,
#right-card {
  gap: 1rem;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
  color: white;
  text-align: start;
}

#left-card {
<<<<<<< Updated upstream
  background-color: fuchsia;
  transform: translateX(-100%);
}

#right-card {
  background-color: pink;
  transform: translateX(100%);
=======
  background-color: #ef6fa5;
  right: 50%;
}

#right-card {
  background-color: #ee4e91;
  left: 50%;
>>>>>>> Stashed changes
}

.wave-card-left_content,
.wave-card-right_content {
  opacity: 0;
}

.animateOpacity {
  transition: opacity 1s ease;
}

.animateEnter {
  animation: slideEnter 1.7s ease-out forwards;
}

.animateOut {
  animation: slideOut 1.7s ease-out forwards;
}

@keyframes slideEnter {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes slideOut {
  0% {
    width: 50%;
  }
  100% {
    width: 0;
  }
<<<<<<< Updated upstream
}

@keyframes slideLeftOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideRightOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
=======
>>>>>>> Stashed changes
}