<div class="menu-btn" (click)="toggleMenu()">
  <div id="menu-btn-icon">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<!-- <app-wave-card id="menu-wave-card" [leftColor]="'fuchsia'" [rightColor]="'pink'"></app-wave-card> -->

<div class="wave-card-left" id="left-card">
  <div class="wave-card-left_content" id="left-card-content">
    <h2>Contact</h2>
    <h1>hello@hold.com</h1>
  </div>
</div>
<div class="wave-card-right" id="right-card">
  <div class="wave-card-right_content" id="right-card-content">
    <h1>Menu</h1>
    <h2 (click)="navigate('/vision')">Vision</h2>
    <!-- <h2 (click)="navigate('/process')">Process</h2> -->
  </div>
</div>
