<main class="vision-body">
  <div class="vision-container">
    <section class="vision-top">
      <h3>Visión</h3>
      <p>
        Trabajamos para impulsar el
        <span>desarrollo y evolución de nuestros clientes.</span>
      </p>
    </section>

    <section class="vision-bottom">
      <h3>Nuestros valores</h3>
      <div class="valores-animation">
        <div class="roller">
          <h1>innovación</h1>
          <h1>sustentabilidad</h1>
          <h1>equipo</h1>
        </div>
      </div>
      <h4>El camino para alcanzar tus metas</h4>
    </section>
  </div>
</main>
